# terraform.tfvars.example
location = "eastus2"
resource_group_name = "DemolabGOI"
private_endpoint_name = "pendptGOI"
target_resource_id = "/subscriptions/f7941b19-dbcd-42f3-a0cd-733fbb037571/resourceGroups/tform1/providers/Microsoft.Web/sites/App1GIO"
group_id = "blob"
vnet_name = "vnet-GOIdemo"
subnet_name = "sn-GOI"
private_dns_zone_id = "/subscriptions/f7941b19-dbcd-42f3-a0cd-733fbb037571/resourceGroups/tform1/providers/Microsoft.Network/privateDnsZones/privatelink.azurewebsites.net"
