/*
THIS CODE AND ANY ASSOCIATED INFORMATION ARE PROVIDED 
"AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO 
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE. 
THE ENTIRE RISK OF USE, INABILITY TO USE, OR RESULTS FROM THE USE OF THIS CODE REMAINS WITH THE USER.
*/
# terraform.tfvars.example
location = "<region for creation of resources>"
resource_group_name = "<name for recource group to be created>"
private_endpoint_name = "<name for private end point to be created>"
target_resource_id = "/subscriptions/<yourSubscriptionId>/resourceGroups/<yourcurrent funcation app resource group>/providers/Microsoft.Web/sites/<your current funcation app name"
group_id = "sites"
vnet_name = "<name for vnetname to be created>>"
subnet_name = "<name for subnetname to be created>>"
private_dns_zone_name = "privatelink.azurewebsites.net"
